.flexy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    border-width: 5px;
    border-color: black;
}

#item1 {
    background-color: red;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#item2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#item3 {
    background-color: green;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}