body{
    background-color: rgb(248, 244, 244);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    border-width: 15px;
    border-color: rgb(38, 36, 36);
    border-style: ridge;
    height: 400px;
    width: 100%;
    padding: 10px;
}

p{
    font-size: 15px;
    text-align: center;
    padding: 2;
    margin: 2;
}

#guy1{
    background-color: orangered;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15px;

    transition: all 2s ease;
}

#guy1.grow
{
    width: 300px;
    height: 300px;
    font-size: 40px;

    transition: all 2s ease;
}

#guy2{
    background-color: rgb(107, 107, 207);
    width: 100px;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15px;
}

/* #guy3{
    background-color: rgb(117, 215, 117);
    width: 100px;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 10px;
} */